@media (max-width: 1535px) {
  header {
    padding: 15px 3%;
    transition: 0.2s;
  }

  .icons {
    padding: 0 3%;
    transition: 0.2s;
  }

  .scroll-dow {
    right: 3%;
    transition: 0.2s;
  }
}

@media (max-width: 1460px) {
  section {
    padding: 0 12%;
    transition: 0.2s;
  }
}

@media (max-width: 1340px) {
  .hero-img img {
    width: 350px;
    height: auto;
  }

  .hero-text h1 {
    font-size: 75px;
    margin: 0 0 30px;
  }

  .hero-text h5 {
    margin-bottom: 25px;
  }
}

@media (max-width: 1195px) {
  body {
    overflow-x: hidden;
    position: relative;
  }

  header {
    position: fixed;
    background-color: #0e0a54;
  }

  section {
    padding: 0 3%;
    transition: 0.2s;
  }

  .hero-text {
    padding-top: 115px;
  }

  .hero-img {
    text-align: center;
  }

  .hero-img img {
    width: 340px;
    height: auto;
  }

  .hero {
    height: 100%;
    width: 100%;
    gap: 1rem;
  }

  .icons {
    display: none;
  }

  .scroll-dow {
    display: none;
  }
}

@media (max-width: 990px) {
  #icon {
    display: block;
  }

  .navlist {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 300px;
    height: 40vh;
    background: #1f1899;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px 20px;
    transition: all 0.55s ease;
  }

  .navlist a {
    display: block;
    margin-left: 0;
    margin: 7px 0;
  }

  .navlist.open {
    right: 0;
  }

  .hero {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 790px) {
  .hero-img img {
    width: 300px;
    height: auto;
  }
}

@media (max-width: 680px) {
  .hero-img {
    margin-top: 4%;
  }

  .hero-img img {
    width: 270px;
    height: auto;
  }
}

@media (max-width: 400px) {
  .hero-text {
    width: 383px;
  }

  .hero-text p {
    width: 300px;
  }

  .hero-img {
    margin-left: 70px;
  }

  .hero-img img {
    height: auto;
    width: 200px;
    margin-right: 100px;
  }

  .hero-text a.bil {
    padding: 12px 10px;
  }
}

@media (max-width: 360px) {
  .hero-text {
    width: 350px;
  }

  .hero-text h1 {
    width: 330px;
  }

  .hero-text p {
    width: 280px;
  }

  .hero-img {
    width: 260px;
  }

  .hero-img img {
    margin: 0 10px;
  }
}
